.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.productImage {
  max-width: 300px; /* Example styling for the product image */
  margin-bottom: 20px;
}

.productInfo {
  max-width: 600px; /* Example styling for the product information section */
}

.productInfo div {
  margin-bottom: 10px;}