.catagory {
  height: 350px;
  /* befor width:350px */
  width: 23.2vw;
  margin-right: -20px; 
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  
}

.catagory img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
}

.catagory a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.catagory h2,
.catagory p {
  padding: 5px;
  margin-left: 15px;
}

.catagory p {
  
  /* /////// */
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

.catagory__container {
  position: relative;
  margin-top: -10%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));  */
  grid-template-columns: repeat(4, 1fr); 
  width: 90vw;
  place-items: center;
  /* place-items: center; */
  gap: 50px;
  margin-right:  5px 0;
  margin-left: 10px auto;
}
